$xs-breakpoint: 0px;
$sm-breakpoint: 600px;
$md-breakpoint: 900px;
$lg-breakpoint: 1200px;
$xl-breakpoint: 1600px;
$xxl-breakpoint: 2180px;

$grid-breakpoints: (
  xsBreakpoint: $xs-breakpoint,
  smBreakpoint: $sm-breakpoint,
  mdBreakpoint: $md-breakpoint,
  lgBreakpoint: $lg-breakpoint,
  xlBreakpoint: $xl-breakpoint,
);

$primary: #f3746d;
$backdrop-primary: rgba(48, 37, 87, 0.4);
$secondary: #002a4b;
$error: #c5291c;
$gray: #c3c0ce;
$light-gray: #8b8b8b;
$dark-gray: #656565;
$white: #ffffff;
$black: #000000;
$success: #418b46;
$warning: #ff0000;
$field-background: #f9f9f9;
$linear-background: transparent linear-gradient(90deg, #005395 0%, #002a4b 100%)
  0% 0% no-repeat padding-box;
$yellow: #ffc400;
$skyblue: #236aa31a;
$light-blue: #0090ff;
$light-pink: #ff000008;

$theme-colors: (
  "primary": $primary,
  "backdropPrimary": $backdrop-primary,
  "secondary": $secondary,
  "error": $error,
  "gray": $gray,
  "lightGray": $light-gray,
  "darkGray": $dark-gray,
  "white": $white,
  "black": $black,
  "success": $success,
  "warning": $warning,
  "field-background": $field-background,
  "linear-background": $linear-background,
  "yellow": $yellow,
  "skyblue": $skyblue,
  "light-blue": $light-blue,
  "light-pink": $light-pink,
);

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// // Typography
// //
// // Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "Raleway", sans-serif !default;

// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * 0.875) !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: normal !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base !default;
$h5-font-size: $font-size-base * 0.5 !default;

$body1-font-size: $font-size-base !default;
$body2-font-size: $font-size-base * 0.875 !default;
$body3-font-size: $font-size-base * 0.75 !default;

$btn-font-size: $font-size-base !default;

$h1-line-height: $font-size-base * 3.125 !default;
$h2-line-height: $font-size-base * 2.5 !default;
$h3-line-height: $font-size-base * 1.875 !default;
$h4-line-height: $font-size-base * 1.25 !default;
$h5-line-height: $font-size-base * 0.625 !default;

$body1-line-height: $font-size-base * 1.25 !default;
$body2-line-height: $font-size-base * 1.125 !default;
$body3-line-height: $font-size-base !default;

$headings-margin-bottom: 0 !default;
$headings-font-family: inherit !default;
$headings-font-weight: $font-weight-normal !default;
$headings-line-height: 1.5 !default;

$input-border-radius: 0.25rem;
$box-border-radius: 1rem;

$store-header-height: 8.5rem;
$global-header-height: 5.8125rem;
$footer-height: 6.875rem;
$header-height: 6.875rem;
$header-height-xs: 5.875rem;

//button

$button-height: 3.125rem;
$button-height-xs: 2.75rem;

//space from top
$space-from-top: 6.874rem;
$space-from-top-xs: 5.874rem;

// box-shadow
$box-shadow: 0rem 0.1875rem 0.375rem #00000029;

.mt-sm {
  margin-top: 0.875rem !important;
}

.mt-lg {
  margin-top: 4.5rem;
}

.icon-color {
  color: $primary !important;
  margin-right: 0.5rem;
}
.icon-color-sm {
  color: $primary !important;
  margin-right: 0.2rem;
  font-size: 0.75rem;
}
.icon-color-white {
  color: $white !important;
  margin-right: 0.5rem;
  font-size: 0.75rem;
}

.nav-Links {
  color: $black;
  margin-right: 1rem;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
  &:active {
    color: $primary;
  }
  &:focus {
    color: $primary;
  }
}

.emp_data {
  font-size: 0.75rem !important;
  background-color: #f2f2f2;
  padding: 0.5rem;
  font-weight: 600 !important;
  margin-top: 0.5rem !important;
  span{
    font-weight: 400 !important;
  }
}
